body {
	margin: 0;
	padding: 0;
	background: #efefef;
	font-size: 17.5px;
}

.profile {
	padding: 50px;
	background: white;
	margin: 4px auto 43px;
	width: 412px;
	/* height: 751px; */
	-webkit-box-shadow: 0px 0px 4px black;
	-moz-box-shadow: 0px 0px 4px black;
	box-shadow: 0px 0px 4px black;
}

.profile__content {
	width: 412px;
	margin: auto;
}

img {
	display: block;
	margin: auto;
	width: 134px;
	height: 130px;
}

h2 {
	font-size: 22px;
	margin-top: 0;
	text-transform: capitalize;
	text-align: center;
}

.profile__content_border {
	padding: 0 14px;
	line-height: 1.5em;
	border-top: 1px solid #7b7b7b;
}

.profile__content_head {
	padding: 0 14px;
}

.profile__content_head p {
	margin: 10px 0 18px;
}


.profile__content_border p {
	margin: 22px 0 22px;
}

ul {
	margin: 22px 0 20px;
	padding-left: 23px;
}